// Core classes
.st {
    position: relative;

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    & > .tab-content {
      position: relative;
      overflow: hidden;
      height: auto;
      & > .tab-pane {
        padding: .8rem;
      }
    }

    // Navigation style
    & > .nav {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;

      @media screen and (max-width: $breakpoint-phone) {
        flex-direction: column!important;
        flex: 1 auto;
      }

      .nav-link {
        position: relative;
        display: block;
        padding: .5rem 1rem;
        height: 100%;
        min-height: 100%;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }

        &::-moz-focus-inner {
          border: 0;
        }

        &.disabled {
          pointer-events: none;
          cursor: not-allowed;
        }

        &.hidden {
          display: none;
          visibility: none;
        }
      }
    }

    // Veritcal navigation style
    &.st-vertical {
      display: flex!important;
      flex-wrap: nowrap;

      & > .nav {
        flex-direction: column!important;
        flex: 1 auto;

        .nav-link {
          text-align: left;
        }

        & > li, .nav-link {
          flex-grow: unset!important;
        }
      }

      & > .tab-content {
        flex: 1 100%;
      }
    }

    // Justified navigation style
    &.st-justified {
      & > .nav {
        & > li, .nav-link {
          flex-basis: 0;
          flex-grow: 1;
          text-align: center;
        }
      }
    }

    // Loading animation
    &.st-loading {
      user-select: none;

      &::after {
        content: "";
        display: block;
        position: absolute;
        opacity: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: var(--#{$var-prefix}loader-background-wrapper-color);
        z-index: 2;
      }

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 45%;
        left: 45%;
        width: 2rem;
        height: 2rem;
        border: 10px solid var(--#{$var-prefix}loader-color);
        border-top: 10px solid var(--#{$var-prefix}loader-background-color);
        border-radius: 50%;
        z-index: 10;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }
 }
