.st-theme-blocks {
  // Navigation style
  & > .nav {
    .nav-link {
      position: relative;
      height: 100%;
      min-height: 100%;
      // color: var(--#{$var-prefix}anchor-default-primary-color);
      color: var(--#{$var-prefix}anchor-default-primary-color);
      // background-color: var(--#{$var-prefix}anchor-default-primary-color);
      border-radius: 0.475rem;

      &.active {
        box-shadow: 0px 1px 7px 1px rgb(0 0 0 / 30%);
        color: var(--#{$var-prefix}anchor-active-secondary-color) !important;
        background-color: var(--#{$var-prefix}anchor-active-primary-color);
      }

      &.disabled {
        color: var(--#{$var-prefix}anchor-disabled-primary-color) !important;
      }
    }
  }
}
